/* home-section starts*/
.home-section {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
  }
  
  .home-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
  }
  
  .home-section .min-vh-100 {
    padding: 100px 0;
  }
  
  .home-section .home-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/images/home-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
  }
  
  .home-text {
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .home-text h1 {
    font-family: var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
  }
  
  .home-text p {
    margin: 0 0 30px;
  }

  @media (max-width: 767px) {
    .home-text h1 {
      font-size: 50px;
      line-height: 65px;
    }
  }
  
  /* home-section ends*/