/* about section starts*/

.about-section {
    background-color: var(--dark);
  }
  
  .about-text,
  .about-img {
    width: 50%;
    padding: 0 15px;
  }
  
  .about-text h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
  }
  
  .about-text p {
    margin: 0 0 15px;
  }
  
  .about-text .btn {
    margin: 15px 0 0;
  }
  
  .about-img img {
    width: 100%;
    border-radius: 10px;
  }
  
  .about-img .img-box {
    position: relative;
  }
  
  .about-img .img-box::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    animation: spin01 10s linear infinite;
  }
  
  .about-img .img-box h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: var(--cursive-font);
    color: var(--dark);
    font-weight: bold;
    text-transform: capitalize;
  }

  @media (max-width: 767px) {
    .about-img {
      width: 100%;
    }
  
    .about-img {
      margin-top: 40px;
    }
  
    .about-text h3 {
      font-size: 24px;
    }
  }
  
  /* about section ends*/