/* testimonials section starts*/
.testomonials-section {
    background-color: var(--dark);
    padding-bottom: 30px;
  }
  
  .testi-item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark-light);
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: 8px;
  }
  
  .testi-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .testi-author h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 3px;
  }
  
  .testi-author span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  .testi-author img {
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid var(--dark-light);
    box-shadow: var(--shadow);
    transition: border-color 0.3s ease;
  }
  
  .testi-item:hover .testi-author img {
    border-color: var(--main-color);
  }
  
  .testi-item p {
    margin: 15px 0;
  }
  
  .testi-item .ratings i {
    font-size: 16px;
    color: var(--main-color);
  }

  @media (max-width: 991px) {
    .testi-item {
      width: calc(50% - 30px);
    }
  }

  @media (max-width: 767px) {
    .testi-item {
      width: calc(100% - 30px);
    }
  }
  
  /* testimonials section ends*/