/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* variables */
:root {
  /* --main-color: #eaa023; */
  --main-color: #D9C666;
  /* --dark: #0c1023; */
  --dark: #000D0D;
  --dark-light: #01261C;
  --white: #ffffff;
  --white-light: #F2D98D;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --cursive-font: "Dancing Script", cursive;
  scroll-behavior: smooth;
}

/* global settings */
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--white-light);
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  color: var(--white);
}

h2 {
  font-weight: 600;
  color: var(--white);
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--white);
}

p {
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.min-vh-100 {
  min-height: 100vh;
}

.sec-padding {
  padding: 80px 0;
}

section {
  overflow: hidden;
}

/* section title */
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 35px;
  text-transform: capitalize;
}

.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
  text-transform: capitalize;
}
/* button */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
}

.btn-default {
  border: 2px solid var(--main-color);
}

.btn-default:hover {
  color: var(--white);
  background-color: var(--main-color);
}

/* animation keyframe */
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pageLoader {
  0%,
  100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
}

/* page loader */
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  z-index: 999;
  transition: all 0.6s ease;
}

.page-loader::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100px;
  background-color: var(--main-color);
  left: calc(50% - 50px);
  top: calc(50% - 2px);
  animation: pageLoader 1s linear infinite;
}

.page-loader.fade-out {
  opacity: 0;
}



